@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;600&family=Bebas+Neue&family=Teko:wght@700&display=swap');


/* ------------------------------------------------------------ MULTI-USE COMPONENTS */

.divider {
    height: 8px;
    width: 65px;
    background-color: #212529;
    margin: auto;
    margin-bottom: 35px;
}

/* Method for color gradient taken from this StackOverflow post: https://stackoverflow.com/questions/17348108/css-stripe-with-multiple-colors */
.color-divider {
    width: 100%;
    height: 10px;
    background: linear-gradient(
        to right,
        #e63946 20%,
        #ff9d9d 20%,
        #ff9d9d 40%,
        #a8dadc 40%,
        #a8dadc 60%,
        #457b9d 60%,
        #457b9d 80%,
        #1d3557 80%,
        #1d3557 100%);
}

.btn-dark {
    border: 5px solid!important;
    border-color: #457b9d!important;
}

.btn {
    font-family: 'barlow semi condensed', sans-serif!important;
    font-weight: 600!important;
    font-size: 15px!important;
    color: #fff!important;
    text-transform: uppercase;
}

/* ------------------------------------------------------------ NAVBAR */

.navbar {
    padding-left: 10%;
    padding-right: 10%;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.logo {
    font-family: "bebas neue", sans-serif;
    text-transform: uppercase;
    font-size: 35px;
}

/* LINK ANIMATION CUSTOMIZED FROM TEMPLATE AT https://copy-paste-css.com/  */
.nav-link {
    font-family: "barlow semi condensed", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out, transform 200ms ease-in-out;
}

.nav-link:hover {
    transform: scale(1.1)!important;
}

/* Navbar styling below taken from Stack Overflow as a fix to center nav items when in collapsed view 
https://stackoverflow.com/questions/18777235/center-content-in-responsive-bootstrap-navbar */
.navbar .navbar-nav {
    float: none;
    vertical-align: top;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }
  
/*index.html*/
/* ------------------------------------------------------------ HERO SECTION */

.hero-image {
    margin-left: auto;
    margin-right: auto;
    height: 75vh;
    width: 90vw;
    background-image: url(../images/controller-image.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    margin-bottom: 60px;
}

.hero-heading {
    color: #fff;
    font-family: "bebas neue", sans-serif;
    text-transform: uppercase;
    font-size: 90px;
}

.hero-subheading {
    color: #fff;
    font-family: "barlow semi condensed", sans-serif;
    font-size: 25px;
    font-weight: 200;
}

/* PUSHES HERO TEXT DOWN */
.pt-5 {
    padding-top: 8rem !important;
}

.button-container {
    width: 100%;
}

.button-container a {
    text-decoration: none;
}

/* BUTTON ANIMATION CUSTOMIZED FROM TEMPLATE AT https://copy-paste-css.com/  */
.hero-button {
    margin: auto;
    width: 220px;
    height: 100px;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    padding: 14px 24px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms, background 200ms;
    background: transparent;
    color: #fff;
    box-shadow: 0 0 0 5px #fff inset;
}

.hero-button:hover {
    transform: translateY(-10px);
    background-color: #212529;
}

.button-text {
    color: #fff;
    font-family: "barlow semi condensed", sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    text-decoration: none;
}

/* ------------------------------------------------------------ FEATURES SECTION */

.features-heading {
    font-family: "bebas neue", sans-serif;
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;
    margin-top: 50px;
}

.feature.cards {
    margin-right: 5%;
    margin-left: 5%;
}

.info-card {
    padding: 10px;
    min-width: 200px;
    min-height: 100px;
    border-radius: 20px;
}

.info-card h2 {
    font-family: "bebas neue", sans-serif;
    font-size: 30px;
}

.info-card i {
    font-size: 30px;
}

.info-card p {
    font-family: "barlow semi condensed", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.features-items {
    margin-bottom: 50px!important;
}

/* ------------------------------------------------------------ GALLERY SECTION */

.gallery-heading {
    margin-top: 50px;
    font-family: "bebas neue", sans-serif;
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;
}

.gallery img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 30px;
}

.gallery-section {
    padding: 40px 50px 40px 50px;
    background-color: #212529;
}

.gallery-section h2 {
    color: #fff;
}

.gallery-section .divider {
    background-color: #fff;
}

.gallery {
    column-count: 4;
}

/* ------------------------------------------------------------ EVENTS SECTION */

.events-heading {
    margin-top: 50px;
    font-family: "bebas neue", sans-serif;
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;
}

.event-card {
    min-height: 320px;
    background-color: #ffffff;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: 0px 2px 10px #cacaca;
    margin-bottom: 20px;
}

.after-dark-card {
    min-height: 320px;
    background-color: #212529;
    border: 2px solid #212529;
    border-radius: 25px;
    box-shadow: 0px 2px 10px #cacaca;
    margin-bottom: 20px;
}

.event-title {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-family: "bebas neue", sans-serif;
    font-size: 30px;
    border-bottom: 1px solid lightgray;
}

.event-description {
    margin-top: 10px;
    padding: 10px;
    font-family: "barlow semi condensed", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.event-date {
    text-align: center;
    font-family: "bebas neue", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.event-time {
    margin-top: -10px;
    text-align: center;
    font-family: "bebas neue", sans-serif;
    font-size: 50px;
}

.after-dark-card .event-title,
.after-dark-card .event-description,
.after-dark-card .event-date,
.after-dark-card .event-time {
    color: #fff;
}

.booking-instructions {
    background-color: #1d3557;
    border-radius: 50px;
    margin: 50px 0px;
    padding: 40px;
    box-shadow: 0px 2px 10px #535353;
}

.booking-instructions h3 {
    font-family: "bebas neue", sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
}

.booking-instructions p {
    font-family: "barlow semi condensed", sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #fff;
}

.booking-instructions p a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}

/*explore.html*/
/* ------------------------------------------------------------ PLAY SECTION */

.hero-explore {
    background-image: url(../images/explore/explorehero.jpg);
}

.explore-text h2 {
    font-family: "bebas neue", sans-serif;
    font-size: 70px;
}

.explore-text div {
    min-height: 5rem;
}

.explore-text p {
    font-family: "barlow semi condensed", sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-left: 5rem; /* Left-aligns text straight */
}

.explore-text i {
    font-size: 2.5em;
    color: #e63946;
    margin-right: 10px;
}

.accordion-item h2 {
    font-family: "bebas neue", sans-serif;
    font-size: 50px;
}

.play-box i {
    float: left;
}

.accordion-body ul {
    font-family: "barlow semi condensed", sans-serif;
    font-size: 20px;
    font-weight: 200;
}

.accordion-button {
    font-size: 1.5rem;
}

.accordion-button:not(.collapsed) {
    color: #000000;
    background-color: #ff9d9d;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

/* ------------------------------------------------------------ COMPETE SECTION */

.compete-img img {
    width: 100%;
    max-height: 400px;
    border-radius: 25px;
    object-fit: cover;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    box-shadow: 0px 2px 15px #535353;
    margin-bottom: 50px;
}

.card {
    border-radius: 25px;
    margin-bottom: 10px;
}

.card-body h2 {
    font-family: "bebas neue", sans-serif;
    font-size: 50px;
}

.card-body p {
    font-family: "barlow semi condensed", sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

/* ------------------------------------------------------------ INDULGE SECTION */

.dine-col img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    box-shadow: 0px 2px 8px #535353;
}

.dine-col h2 {
    font-family: "bebas neue", sans-serif;
    font-size: 50px;
}

.dine-col p {
    font-family: "barlow semi condensed", sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.dine-button {
    margin-bottom: 100px;
}

/*contact.html*/
/* ------------------------------------------------------------ FORM SECTION */

.contact-heading h2{
    margin-top: 50px;
    font-family: "bebas neue", sans-serif;
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;
}

form {
    font-family: "barlow semi condensed", sans-serif;
    font-weight: 600;
}

/* ------------------------------------------------------------ MAP SECTION */

.contact-details h2 {
    font-family: "bebas neue", sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

iframe {
    width: 100%;
}

/* ------------------------------------------------------------ FOOTER */

.footer {
    margin-top: 50px;
    padding-top: 80px;
    background-color: #212529;
}

.social-links {
    padding-top: 40px;
    padding-bottom: 20px;
}

.social-links a {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    margin: 20px;
    transition: 200ms;
}

.social-links a:hover {
    transform: scale(1.2);
}

.social-links i {
    color: white;
    font-size: 30px;
}

/* ------------------------------------------------------------ MEDIA QUERIES */

@media only screen and (max-width: 1200px) {
    .gallery {
        column-count: 3;
    }
}

@media only screen and (max-width: 992px) {
    .hero-image {
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }

    .px-4.pt-5.my-5.text-center.hero-text {
        width: 100%!important;
    }

    .navbar {
        padding-left: 0;
        padding-right: 0;
    }

    .main-page-article img {
        width: 90%;
        height: auto;
        margin: auto;
        border-radius: 10px;
        float: none;
    }

    .my-5 {
        margin-top: 0!important;
    }

}

@media only screen and (max-width: 768px) {
    .gallery {
        column-count: 2;
    }

    /*REMOVES 2 IMAGES SO GALLERY SECTION IS NOT TOO BIG ON MOBILE*/
    .mobile-not-essential {
        display: none;
    }
}

@media only screen and (max-width: 576px) {

    /* MOVES HERO TEXT UP VERTICALLY FOR BETTER MOBILE SPACING */
    .pt-5 {
        padding-top: 4rem !important;
    }

    /* REMOVES CSS STYLING AND ALLOWS BOOTSTRAP DEFAULT FOR BETTER MOBILE SPACING */
    .event-card {
        margin-left: 10%;
        margin-right: 10%;
        min-height: 50px;
    }

    .gallery {
        column-count: 1;
    }
}